<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <header class="header">
            {{ page.header }}
            <section class="header-title">
                <h1>Anytown Farmers Market</h1>
            </section>
            <nav class="menu">
                {{ page.menu }}
            </nav>
        </header>
        <main class="main">
            <div class="content">
                <h4>This is the content section</h4>
            </div>
            <div class="sidebar">
                <h4>This is the sidebar</h4>
            </div>
        </main>
        <footer>
            <h4>This is the footer section</h4>
        </footer>
    </body>
</html>